{% extends 'bootstrap/base.html' %} {% block styles %} {{ super() }}
<style>
    body {
        background: #e8f1f9;
    }
    
    ul {
        display: inline-block;
    }
</style>
{% endblock %} {% block title %} Library {% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Welcome to the Library!</h1>

            <p class="lead">This is the index page for the Library, where you will find many interesting books.</p>

            <ul class="Links">
                <li>
                    <h3>
                        <a href="{{ url_for('index') }}">Library</a>
                    </h3>
                    <h5>
                        <a href="{{ url_for('new') }}">Add Book</a>
                    </h5>
                </li>
                <li>
                    <h3>
                        <a href="{{ url_for('customers') }}">Customers</a>
                    </h3>
                </li>
            </ul>






            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Release Year</th>
                        <th>Borrowed by Customer:</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in book %}
                    <tr>

                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author_name }}</td>
                        <td>{{ book.publisher_name }}</td>
                        <td>{{ book.release_year }}</td>
                        <td>{{ book.customer_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>

{% endblock %}