<!DOCTYPE html>
<html>

<body>

    <h3>Books - Flask SQLAlchemy example</h3>
    <hr/> {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {%- endfor %}

    <form action="{{ request.path }}" method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title" placeholder="Title" /><br>
        <label for="author">Author</label><br>
        <input type="text" name="author" placeholder="Author" /><br>
        <label for="publisher">Publisher</label><br>
        <input type="text" name="publisher" placeholder="Publisher" /><br>
        <label for="release_year">Release Year</label><br>
        <input type="text" name="release_year" placeholder="Release_Year" /><br>
        <input type="submit" value="Submit" />
    </form>

</body>

</html>